# Proxmox hosts
PROXMOX_USER=root@pve-hp-1
PROXMOX_USER2=root@hp-pve-2
PROXMOX_PASSWORD=your-proxmox-password
PROXMOX_HOST=192.168.x.x
PROXMOX_HOST2=192.168.x.x

# LXC service IPs
NAS_HOST=192.168.x.x
IRONCLAW_IP=192.168.x.x
CALIBRE_IP=192.168.x.x
JELLYFIN_IP=192.168.x.x
WAYDROID_IP=192.168.x.x
SEERR_IP=192.168.x.x
PROWLARR_IP=192.168.x.x
RADARR_IP=192.168.x.x
QBITTORRENT_IP=192.168.x.x
TDARR_IP=192.168.x.x
SONARR_IP=192.168.x.x
BAZARR_IP=192.168.x.x
READARR_IP=192.168.x.x
FLARESOLVERR_IP=192.168.x.x
TAILSCALE_IP=192.168.x.x

# Network config
GATEWAY_IP=192.168.x.x
LOCAL_SUBNET=192.168.x.x/24

# Service API keys
RADARR_API_KEY=your-radarr-api-key
PROWLARR_API_KEY=your-prowlarr-api-key
SONARR_API_KEY=your-sonarr-api-key
BAZARR_API_KEY=your-bazarr-api-key
READARR_API_KEY=your-readarr-api-key
SEERR_API_KEY=your-jellyseerr-api-key

# Service credentials
QBITTORRENT_PASSWORD=your-qbittorrent-password
